{
    "singleQuote": true,
    "tabWidth": 6,
    "trailingComma": "none",
    "printWidth": 100,
    "overrides": [
        {
            "files":"*.ts",
            "options": {
                "parser":"typescript"
            }
        }
    ]
}